p{
    font-size: 15px;
    color: black;
}
h2{
    color: black;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 5px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: calibri;
    background-color: purple;
}
.navbar ul{
    
}
body{
    
}
.kal{
    background-color: purple;
    margin-top: 11px;
}